extends layout

block content
    #title-breadcrumb-option-demo.page-title-breadcrumb
        .page-header.pull-left
            .page-title PANEL
        ol.breadcrumb.page-breadcrumb.pull-left
            li
                i.fa.fa-home(style='margin-right:3px') 
                a(href='/',style='margin-right:4px') Principal

    .page-content.style-content
        .col-md-12
            .form-group
                 
                        
