.clearfix
li
  a(href='/incidencias',data-toggle="tooltip" ,title="Registrar Incidencias",data-placement="bottom")
    i.fa.fa-wheelchair.fa-fw
      .icon-bg.bg-orange
    span.menu-title INCIDENCIAS
li
  a(href='/clientes',data-toggle="tooltip" ,title="Registrar Clientes",data-placement="bottom")
    i.fa.fa-user.fa-fw
      .icon-bg.bg-orange
    span.menu-title CLIENTES
li
  a(href='/usuarios',data-toggle="tooltip" ,title="Registrar Usuarios",data-placement="bottom")
    i.fa.fa-group.fa-fw
      .icon-bg.bg-pink
    span.menu-title USUARIOS
li
  a(href='/dependencias',data-toggle="tooltip" ,title="Registrar Dependencias",data-placement="bottom")
    i.fa.fa-building-o.fa-fw
      .icon-bg.bg-pink
    span.menu-title DEPENDENCIA
